/* CSS for countdown website */
/* Copyright Aidan Hopkins 2020 */

.body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

.header {
    height: 8vh;
    background-color: red;
}

.header-title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 4vh;
}

.main-area {
    height: 25vh;
    width: 96%;
    border: solid black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-left: 15px;
}