/* CSS for countdown website */
/* Copyright Aidan Hopkins 2020 */

.phase {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

.header {
    height: 8vh;
    background-color: red;
}