/* CSS for countdown website */
/* Copyright Aidan Hopkins 2020 */

.body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

.header {
    height: 8vh;
    background-color: red;
}

.header-title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 4vh;
}

.main-area {
    height: 85%;
    width: 96%;
    border: solid black;
    margin: 30px;
    padding-left: 15px;
    position: absolute;
}

.modal-template {
    height: 75px;
    width: 105px;
    background-color: blue;
}